<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  </head>
  <body>
    <div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index')}}">PreserV/Arvoreja</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('create')}}">Nova postagem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('inicial')}}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="container">
          <div class="jumbotron">
            {% block content %} {% endblock %}
          </div>
        </main>


            <footer>
                <ul>
                    <li>Gostou das Postagens?</li>
                        <a href="https://forms.office.com/r/f2ScGWrrii">Avalie o Web Site e dê sua opinião</a>
                    <li>Quer conhecer as árvores adequadas para o plantio sustentável na Cidade?</li>
                        <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/upload/meio_ambiente/MARBOURB.pdf">Manual Técnico de Secretaria Municipal do Verde e do Meio Ambiente Urbana</a>
                    <li>Quer saber mais sobre Meio Ambiente e plantio de mudas de árvores? Acesse:</li>
                        <ul>
                            <li>
                                <a href="https://www.sosma.org.br/">SOS Mata Atlântica</a>
                            </li>
                            <li>
                                <a href="https://www.wwf.org.br/">WWF</a>
                            </li>
                            <li>
                                <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/meio_ambiente/parques/index.php?p=284396">Secretária Meio Ambiente - São Paulo/SP</a>
                            </li>
                        </ul>
                </ul>
            </footer>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>